## Root 
natives/
instance.cfg

## .minecraft/
.minecraft/config/
.minecraft/coremods/
.minecraft/crash-reports/
.minecraft/logs/
.minecraft/modernfix/
.minecraft/resourcepacks/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/shaderpacks/
.minecraft/texturepacks/
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/.qmenu_opened.marker
.minecraft/mods/jei-1.20.1-forge-15.3.0.4.jar
.minecraft/fancymenu_data/last_world.fmdata
