## Root 
natives/

## .minecraft/
.minecraft/config/
.minecraft/coremods/
.minecraft/crash-reports/
.minecraft/logs/
.minecraft/modernfix/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/shaderpacks/
.minecraft/texturepacks/
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/.qmenu_opened.marker
.minecraft/mods/jei-1.20.1-forge-15.3.0.4.jar
.minecraft/fancymenu_data/
.minecraft/map_atlases/
.minecraft\patchouli_data.json